In [8]:
data = ''
with open("data.txt", "r") as file:
    data = file.read()
    
    print(data)

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

In [9]:
print(data)

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

In [22]:
import pandas as pd
import numpy  as np

In [12]:
data = pd.read_csv("dados_tratados_oyster_card_2019.csv")

In [13]:
data.head()

,Unnamed: 0,DOWno,DOW,SubSystem,StartStn,EndStn,EntTime,ExTime,Zones,JourneyType,DailyCapping,FullFare,DiscountFare,FinalProduct,JourneyLength
0,45989,2,Mon,LUL,Goodge Street,Totteridge,1000,1041,Z0110,TKT,N,0,0,Freedom Pass (Elderly),41
1,45994,5,Thu,LUL,Preston Road,Northwood,1000,1024,Z0110,TKT,N,0,0,Freedom Pass (Disabled),24
2,45998,5,Thu,LUL,Holborn,Bounds Green,1000,1028,Z0104,TKT,N,0,0,LUL Travelcard-Annual,28
3,46003,1,Sun,LUL,Earls Court,Pimlico,1000,1021,-------,PPY,N,160,160,PAYG,21
4,46005,3,Tue,LUL,Victoria,Bethnal Green,1000,1027,Z0102,TKT,N,0,0,LUL Travelcard-7 Day,27

In [14]:
data2 = data[["DOWno", "SubSystem"]]

In [15]:
data2.head()

   DOWno SubSystem
0      2       LUL
1      5       LUL
2      5       LUL
3      1       LUL
4      3       LUL

In [19]:
#ix encontra-se obsoleto, seu uso foi substituido pelo .iloc
print(data2.iloc[0,0])

2

In [23]:
y = np.array([1,1])

In [24]:
2*y

array([2, 2])